* {
  cursor: url('./images/pencil.png'), auto;
  overflow: hidden;
}

body {
  background-image: url('./images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: 'Amatic SC', cursive;
  display: block;
  cursor: url('./images/pencil.png'), auto;
}

h1 {
  text-align: center;
  font-size: 10vw;
  padding: 0;
  margin: 0;
}

.form-container {
  text-align: center;
  width: 100vw;
}

.text-input {
  padding: 5px;
}

.add-button {
  height: 42px;
}

.radio-img {
  width: 35px;
}

.radio-submit-container {
  width: 310px;
  height: 55px;
  display: inline-block;
}

.radio-submit {
  padding: 0;
  margin: 0;
  float: right;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=radio]:checked + .radio-img {
  background: #fff;
  border: solid 3px;
  border-radius: 50%;
}

input[type=image]:hover {
  background: #7ed967;
  border-radius: 50%;
}

label {
  font-size: 35px;
}

input[type="text"] {
  font-family: 'Amatic SC', cursive;
  width: 300px;
  font-size: 30px;
  border-radius: 5%;
  color: #4690B0;
}

input:focus {
  outline: none;
}

.list-container {
  width: 100vw;
  height: 400px;
  margin: 0;
  display: block;
  text-align: center;
}

.list {
  width: 840px;
  height: 310px;
  display: inline-block;
}

button {
  background: none;
  border: dashed 5px #000;
  height: auto;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  padding: 5px;
}

button.high {
  border: dashed 5px #4690B0;
}

button.low {
  border: dashed 5px #fa9953;
}
